.section {
  width: var(--widthLg);
  margin: 0 auto;
}
.navbar {
  background-color: var(--white);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: var(--white);
}
.site_name {
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;
  background-color: var(--white);
}
.nav_ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 19.8px;
  background-color: var(--white);
}
.nav_ul a {
  background-color: var(--white);
}
.hamburger {
  font-size: 30px !important;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}
@media screen and (max-width: 1048px) {
  .hamburger {
    /* display: block; */
  }
}
@media screen and (max-width: 848px) {
  .nav_links:nth-of-type(1),
  .nav_links:nth-of-type(2),
  .nav_links:nth-of-type(3) {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
